/* 
This file contains the CSS styles for the shiny application. 
It defines the colors, fonts, and other visual aspects of the site to ensure a consistent and appealing design across all pages. 
The styles are organized into sections for easy maintenance and updates.
*/